In [4]:
import pandas as  pd
df=pd.read_parquet(r"C:\Users\viren\Downloads\cdc_monthly_regional_air_temp_D.parquet")
df

,Datum,Brandenburg/Berlin,Brandenburg,Baden-Wuerttemberg,Bayern,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Niedersachsen/Hamburg/Bremen,Nordrhein-Westfalen,Rheinland-Pfalz,Schleswig-Holstein,Saarland,Sachsen,Sachsen-Anhalt,Thueringen/Sachsen-Anhalt,Thueringen,Deutschland
0,1881-01-01,-5.54,-5.56,-4.89,-6.51,-5.68,-5.07,-4.55,-4.55,-4.21,-4.49,-4.06,-4.15,-6.22,-5.89,-6.28,-6.76,-5.36
1,1881-02-01,-1.00,-1.01,1.33,-0.73,0.75,-2.01,-0.05,-0.07,1.64,1.45,-1.81,2.25,-0.92,-0.42,-0.34,-0.25,-0.10
2,1881-03-01,1.71,1.70,4.42,2.50,3.43,0.40,2.20,2.19,3.81,4.49,0.54,5.37,1.79,2.20,2.18,2.14,2.61
3,1881-04-01,5.56,5.55,6.63,5.01,5.88,4.63,5.64,5.64,6.44,6.65,5.02,7.08,4.41,5.51,5.04,4.43,5.55
4,1881-05-01,12.85,12.83,11.44,10.99,12.15,11.58,12.03,12.03,12.55,12.25,11.16,12.38,11.49,12.57,12.05,11.40,11.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1731,2025-04-01,11.29,11.27,10.18,10.18,10.55,10.30,10.57,10.57,11.00,10.88,9.71,11.19,10.34,10.97,10.49,9.87,10.50
1732,2025-05-01,12.93,12.91,12.95,12.24,13.12,12.21,13.06,13.06,13.57,13.77,12.38,14.13,12.10,13.14,12.71,12.15,12.80
1733,2025-06-01,18.72,18.70,19.41,18.86,18.51,17.08,17.53,17.52,18.33,19.20,16.36,19.72,18.41,18.60,18.36,18.03,18.38
1734,2025-07-01,19.13,19.12,18.03,17.79,18.31,18.56,18.42,18.43,18.50,18.58,18.27,18.87,18.34,19.04,18.60,18.03,18.35
1735,2025-08-01,18.39,18.38,18.39,17.91,18.22,17.76,17.97,17.97,18.32,18.84,17.28,19.16,17.88,18.58,18.19,17.69,18.12

In [5]:
df=df.set_index('Datum')
df

,Brandenburg/Berlin,Brandenburg,Baden-Wuerttemberg,Bayern,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Niedersachsen/Hamburg/Bremen,Nordrhein-Westfalen,Rheinland-Pfalz,Schleswig-Holstein,Saarland,Sachsen,Sachsen-Anhalt,Thueringen/Sachsen-Anhalt,Thueringen,Deutschland
Datum,,,,,,,,,,,,,,,,,
1881-01-01,-5.54,-5.56,-4.89,-6.51,-5.68,-5.07,-4.55,-4.55,-4.21,-4.49,-4.06,-4.15,-6.22,-5.89,-6.28,-6.76,-5.36
1881-02-01,-1.00,-1.01,1.33,-0.73,0.75,-2.01,-0.05,-0.07,1.64,1.45,-1.81,2.25,-0.92,-0.42,-0.34,-0.25,-0.10
1881-03-01,1.71,1.70,4.42,2.50,3.43,0.40,2.20,2.19,3.81,4.49,0.54,5.37,1.79,2.20,2.18,2.14,2.61
1881-04-01,5.56,5.55,6.63,5.01,5.88,4.63,5.64,5.64,6.44,6.65,5.02,7.08,4.41,5.51,5.04,4.43,5.55
1881-05-01,12.85,12.83,11.44,10.99,12.15,11.58,12.03,12.03,12.55,12.25,11.16,12.38,11.49,12.57,12.05,11.40,11.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-04-01,11.29,11.27,10.18,10.18,10.55,10.30,10.57,10.57,11.00,10.88,9.71,11.19,10.34,10.97,10.49,9.87,10.50
2025-05-01,12.93,12.91,12.95,12.24,13.12,12.21,13.06,13.06,13.57,13.77,12.38,14.13,12.10,13.14,12.71,12.15,12.80
2025-06-01,18.72,18.70,19.41,18.86,18.51,17.08,17.53,17.52,18.33,19.20,16.36,19.72,18.41,18.60,18.36,18.03,18.38
2025-07-01,19.13,19.12,18.03,17.79,18.31,18.56,18.42,18.43,18.50,18.58,18.27,18.87,18.34,19.04,18.60,18.03,18.35
2025-08-01,18.39,18.38,18.39,17.91,18.22,17.76,17.97,17.97,18.32,18.84,17.28,19.16,17.88,18.58,18.19,17.69,18.12

In [6]:
for col in df.columns:
    df[col]=df[col].astype(float)

In [7]:
df

,Brandenburg/Berlin,Brandenburg,Baden-Wuerttemberg,Bayern,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Niedersachsen/Hamburg/Bremen,Nordrhein-Westfalen,Rheinland-Pfalz,Schleswig-Holstein,Saarland,Sachsen,Sachsen-Anhalt,Thueringen/Sachsen-Anhalt,Thueringen,Deutschland
Datum,,,,,,,,,,,,,,,,,
1881-01-01,-5.54,-5.56,-4.89,-6.51,-5.68,-5.07,-4.55,-4.55,-4.21,-4.49,-4.06,-4.15,-6.22,-5.89,-6.28,-6.76,-5.36
1881-02-01,-1.00,-1.01,1.33,-0.73,0.75,-2.01,-0.05,-0.07,1.64,1.45,-1.81,2.25,-0.92,-0.42,-0.34,-0.25,-0.10
1881-03-01,1.71,1.70,4.42,2.50,3.43,0.40,2.20,2.19,3.81,4.49,0.54,5.37,1.79,2.20,2.18,2.14,2.61
1881-04-01,5.56,5.55,6.63,5.01,5.88,4.63,5.64,5.64,6.44,6.65,5.02,7.08,4.41,5.51,5.04,4.43,5.55
1881-05-01,12.85,12.83,11.44,10.99,12.15,11.58,12.03,12.03,12.55,12.25,11.16,12.38,11.49,12.57,12.05,11.40,11.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-04-01,11.29,11.27,10.18,10.18,10.55,10.30,10.57,10.57,11.00,10.88,9.71,11.19,10.34,10.97,10.49,9.87,10.50
2025-05-01,12.93,12.91,12.95,12.24,13.12,12.21,13.06,13.06,13.57,13.77,12.38,14.13,12.10,13.14,12.71,12.15,12.80
2025-06-01,18.72,18.70,19.41,18.86,18.51,17.08,17.53,17.52,18.33,19.20,16.36,19.72,18.41,18.60,18.36,18.03,18.38
2025-07-01,19.13,19.12,18.03,17.79,18.31,18.56,18.42,18.43,18.50,18.58,18.27,18.87,18.34,19.04,18.60,18.03,18.35
2025-08-01,18.39,18.38,18.39,17.91,18.22,17.76,17.97,17.97,18.32,18.84,17.28,19.16,17.88,18.58,18.19,17.69,18.12

In [14]:
df.columns

Index(['Brandenburg/Berlin', 'Brandenburg', 'Baden-Wuerttemberg', 'Bayern',
       'Hessen', 'Mecklenburg-Vorpommern', 'Niedersachsen',
       'Niedersachsen/Hamburg/Bremen', 'Nordrhein-Westfalen',
       'Rheinland-Pfalz', 'Schleswig-Holstein', 'Saarland', 'Sachsen',
       'Sachsen-Anhalt', 'Thueringen/Sachsen-Anhalt', 'Thueringen',
       'Deutschland'],
      dtype='object')

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1736 entries, 1881-01-01 to 2025-08-01
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Brandenburg/Berlin            1736 non-null   float64
 1   Brandenburg                   1736 non-null   float64
 2   Baden-Wuerttemberg            1736 non-null   float64
 3   Bayern                        1736 non-null   float64
 4   Hessen                        1736 non-null   float64
 5   Mecklenburg-Vorpommern        1736 non-null   float64
 6   Niedersachsen                 1736 non-null   float64
 7   Niedersachsen/Hamburg/Bremen  1736 non-null   float64
 8   Nordrhein-Westfalen           1736 non-null   float64
 9   Rheinland-Pfalz               1736 non-null   float64
 10  Schleswig-Holstein            1736 non-null   float64
 11  Saarland                      1736 non-null   float64
 12  Sachsen                       1736 non-null   float64
 13  Sachsen-Anhalt                1736 non-null   float64
 14  Thueringen/Sachsen-Anhalt     1736 non-null   float64
 15  Thueringen                    1736 non-null   float64
 16  Deutschland                   1736 non-null   float64
dtypes: float64(17)
memory usage: 244.1 KB
None

In [10]:
print(df.describe().T)

                               count      mean       std    min     25%  \
Brandenburg/Berlin            1736.0  8.887967  7.020166 -11.50  2.8000
Brandenburg                   1736.0  8.875916  7.018599 -11.52  2.7875
Baden-Wuerttemberg            1736.0  8.307817  6.636643 -10.19  2.6075
Bayern                        1736.0  7.680351  6.932772 -11.28  1.6375
Hessen                        1736.0  8.420714  6.505639  -9.58  2.8500
Mecklenburg-Vorpommern        1736.0  8.379862  6.622568 -11.14  2.7200
Niedersachsen                 1736.0  8.819798  6.220485  -9.09  3.5675
Niedersachsen/Hamburg/Bremen  1736.0  8.823249  6.220985  -9.08  3.5700
Nordrhein-Westfalen           1736.0  9.099770  6.066321  -8.08  3.9750
Rheinland-Pfalz               1736.0  8.766705  6.392545  -9.12  3.2375
Schleswig-Holstein            1736.0  8.470974  6.146917  -8.75  3.3075
Saarland                      1736.0  9.021550  6.364423  -8.72  3.5750
Sachsen                       1736.0  8.263957  6.908350 -11.49  2.3475
Sachsen-Anhalt                1736.0  8.858243  6.798258 -11.29  3.1000
Thueringen/Sachsen-Anhalt     1736.0  8.404505  6.749793 -11.13  2.7075
Thueringen                    1736.0  7.831820  6.694029 -10.97  2.1600
Deutschland                   1736.0  8.435772  6.578771  -9.62  2.7400

                                50%      75%    max
Brandenburg/Berlin            8.665  15.3100  23.22
Brandenburg                   8.650  15.3000  23.19
Baden-Wuerttemberg            8.135  14.4075  21.78
Bayern                        7.705  14.1300  21.23
Hessen                        8.250  14.4000  21.82
Mecklenburg-Vorpommern        8.000  14.5225  21.93
Niedersachsen                 8.545  14.5125  22.07
Niedersachsen/Hamburg/Bremen  8.550  14.5200  22.08
Nordrhein-Westfalen           8.830  14.6250  22.28
Rheinland-Pfalz               8.540  14.6575  22.59
Schleswig-Holstein            8.065  14.1725  21.15
Saarland                      8.790  14.8675  23.15
Sachsen                       8.030  14.6000  22.15
Sachsen-Anhalt                8.560  15.0625  22.93
Thueringen/Sachsen-Anhalt     8.135  14.5125  22.26
Thueringen                    7.650  13.9225  21.41
Deutschland                   8.195  14.5025  21.99

In [13]:
# Changing from wide to long format representation
df_long = pd.melt(
    df,
    ignore_index=False,               # keep "Datum" as identifier
    value_vars=df.columns[1:],       # all other columns become "long"
    var_name="Region",               # new column name for regions
    value_name="Value"               # new column name for values
)
df_long

                 Region  Value
Datum
1881-01-01  Brandenburg  -5.56
1881-02-01  Brandenburg  -1.01
1881-03-01  Brandenburg   1.70
1881-04-01  Brandenburg   5.55
1881-05-01  Brandenburg  12.83
...                 ...    ...
2025-04-01  Deutschland  10.50
2025-05-01  Deutschland  12.80
2025-06-01  Deutschland  18.38
2025-07-01  Deutschland  18.35
2025-08-01  Deutschland  18.12

[27776 rows x 2 columns]

In [15]:
df_long.columns

Index(['Region', 'Value'], dtype='object')

In [16]:
df_long['Value']=df_long['Value'].astype(float)

print(df_long.info())
df_long

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 27776 entries, 1881-01-01 to 2025-08-01
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Region  27776 non-null  object
 1   Value   27776 non-null  float64
dtypes: float64(1), object(1)
memory usage: 651.0+ KB
None

                 Region  Value
Datum
1881-01-01  Brandenburg  -5.56
1881-02-01  Brandenburg  -1.01
1881-03-01  Brandenburg   1.70
1881-04-01  Brandenburg   5.55
1881-05-01  Brandenburg  12.83
...                 ...    ...
2025-04-01  Deutschland  10.50
2025-05-01  Deutschland  12.80
2025-06-01  Deutschland  18.38
2025-07-01  Deutschland  18.35
2025-08-01  Deutschland  18.12

[27776 rows x 2 columns]

In [19]:
# Changing from wide to compact representation

# Preparing the metadata
region = df.columns
print(region)

first_timestamp = df.apply(lambda col: col.first_valid_index() if col.first_valid_index() is not None else None)
# print(first_timestamp)

frequency = "1MS"
n_elements = df.shape[0]

# Preparing the data values
values = [df[col].values for col in df.columns]

df_compact = pd.DataFrame({
    "Start": first_timestamp,
    "Frequency": frequency,
    "n_Elements": n_elements,
    "Values": values
})

print(df_compact.info())
df_compact

Index(['Brandenburg/Berlin', 'Brandenburg', 'Baden-Wuerttemberg', 'Bayern',
       'Hessen', 'Mecklenburg-Vorpommern', 'Niedersachsen',
       'Niedersachsen/Hamburg/Bremen', 'Nordrhein-Westfalen',
       'Rheinland-Pfalz', 'Schleswig-Holstein', 'Saarland', 'Sachsen',
       'Sachsen-Anhalt', 'Thueringen/Sachsen-Anhalt', 'Thueringen',
       'Deutschland'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, Brandenburg/Berlin to Deutschland
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Start       17 non-null     datetime64[ns]
 1   Frequency   17 non-null     object
 2   n_Elements  17 non-null     int64
 3   Values      17 non-null     object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 1.2+ KB
None

,Start,Frequency,n_Elements,Values
Brandenburg/Berlin,1881-01-01,1MS,1736,"[-5.54, -1.0, 1.71, 5.56, 12.85, 15.73, 19.19,..."
Brandenburg,1881-01-01,1MS,1736,"[-5.56, -1.01, 1.7, 5.55, 12.83, 15.71, 19.16,..."
Baden-Wuerttemberg,1881-01-01,1MS,1736,"[-4.89, 1.33, 4.42, 6.63, 11.44, 15.3, 19.08, ..."
Bayern,1881-01-01,1MS,1736,"[-6.51, -0.73, 2.5, 5.01, 10.99, 14.65, 18.4, ..."
Hessen,1881-01-01,1MS,1736,"[-5.68, 0.75, 3.43, 5.88, 12.15, 15.3, 18.77, ..."
Mecklenburg-Vorpommern,1881-01-01,1MS,1736,"[-5.07, -2.01, 0.4, 4.63, 11.58, 15.08, 17.92,..."
Niedersachsen,1881-01-01,1MS,1736,"[-4.55, -0.05, 2.2, 5.64, 12.03, 14.9, 18.4, 1..."
Niedersachsen/Hamburg/Bremen,1881-01-01,1MS,1736,"[-4.55, -0.07, 2.19, 5.64, 12.03, 14.9, 18.4, ..."
Nordrhein-Westfalen,1881-01-01,1MS,1736,"[-4.21, 1.64, 3.81, 6.44, 12.55, 15.37, 19.04,..."
Rheinland-Pfalz,1881-01-01,1MS,1736,"[-4.49, 1.45, 4.49, 6.65, 12.25, 15.56, 19.01,..."
Schleswig-Holstein,1881-01-01,1MS,1736,"[-4.06, -1.81, 0.54, 5.02, 11.16, 14.8, 17.45,..."
Saarland,1881-01-01,1MS,1736,"[-4.15, 2.25, 5.37, 7.08, 12.38, 15.83, 19.29,..."
Sachsen,1881-01-01,1MS,1736,"[-6.22, -0.92, 1.79, 4.41, 11.49, 14.52, 18.25..."
Sachsen-Anhalt,1881-01-01,1MS,1736,"[-5.89, -0.42, 2.2, 5.51, 12.57, 15.46, 19.09,..."
Thueringen/Sachsen-Anhalt,1881-01-01,1MS,1736,"[-6.28, -0.34, 2.18, 5.04, 12.05, 15.07, 18.62..."
Thueringen,1881-01-01,1MS,1736,"[-6.76, -0.25, 2.14, 4.43, 11.4, 14.59, 18.04,..."
Deutschland,1881-01-01,1MS,1736,"[-5.36, -0.1, 2.61, 5.55, 11.81, 15.08, 18.6, ..."

In [20]:
# From compact to wide representation
# Preparing the index
indices = [pd.date_range(start=df_compact.loc[i, "Start"],
                         periods=df_compact.loc[i, "n_Elements"],
                         freq=df_compact.loc[i, "Frequency"]) for i in df_compact.index]

# Creating the columns
df_list = [pd.Series(data=df_compact.loc[item, "Values"], index=indices[order], name=df_compact.index[order]) for order, item in enumerate(df_compact.index)]

# Conacatenating the columns
df_wide_from_compact = pd.concat(df_list, axis=1)

print(df_wide_from_compact.info())
df_wide_from_compact

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1736 entries, 1881-01-01 to 2025-08-01
Freq: MS
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Brandenburg/Berlin            1736 non-null   float64
 1   Brandenburg                   1736 non-null   float64
 2   Baden-Wuerttemberg            1736 non-null   float64
 3   Bayern                        1736 non-null   float64
 4   Hessen                        1736 non-null   float64
 5   Mecklenburg-Vorpommern        1736 non-null   float64
 6   Niedersachsen                 1736 non-null   float64
 7   Niedersachsen/Hamburg/Bremen  1736 non-null   float64
 8   Nordrhein-Westfalen           1736 non-null   float64
 9   Rheinland-Pfalz               1736 non-null   float64
 10  Schleswig-Holstein            1736 non-null   float64
 11  Saarland                      1736 non-null   float64
 12  Sachsen                       1736 non-null   float64
 13  Sachsen-Anhalt                1736 non-null   float64
 14  Thueringen/Sachsen-Anhalt     1736 non-null   float64
 15  Thueringen                    1736 non-null   float64
 16  Deutschland                   1736 non-null   float64
dtypes: float64(17)
memory usage: 244.1 KB
None

,Brandenburg/Berlin,Brandenburg,Baden-Wuerttemberg,Bayern,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Niedersachsen/Hamburg/Bremen,Nordrhein-Westfalen,Rheinland-Pfalz,Schleswig-Holstein,Saarland,Sachsen,Sachsen-Anhalt,Thueringen/Sachsen-Anhalt,Thueringen,Deutschland
1881-01-01,-5.54,-5.56,-4.89,-6.51,-5.68,-5.07,-4.55,-4.55,-4.21,-4.49,-4.06,-4.15,-6.22,-5.89,-6.28,-6.76,-5.36
1881-02-01,-1.00,-1.01,1.33,-0.73,0.75,-2.01,-0.05,-0.07,1.64,1.45,-1.81,2.25,-0.92,-0.42,-0.34,-0.25,-0.10
1881-03-01,1.71,1.70,4.42,2.50,3.43,0.40,2.20,2.19,3.81,4.49,0.54,5.37,1.79,2.20,2.18,2.14,2.61
1881-04-01,5.56,5.55,6.63,5.01,5.88,4.63,5.64,5.64,6.44,6.65,5.02,7.08,4.41,5.51,5.04,4.43,5.55
1881-05-01,12.85,12.83,11.44,10.99,12.15,11.58,12.03,12.03,12.55,12.25,11.16,12.38,11.49,12.57,12.05,11.40,11.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-04-01,11.29,11.27,10.18,10.18,10.55,10.30,10.57,10.57,11.00,10.88,9.71,11.19,10.34,10.97,10.49,9.87,10.50
2025-05-01,12.93,12.91,12.95,12.24,13.12,12.21,13.06,13.06,13.57,13.77,12.38,14.13,12.10,13.14,12.71,12.15,12.80
2025-06-01,18.72,18.70,19.41,18.86,18.51,17.08,17.53,17.52,18.33,19.20,16.36,19.72,18.41,18.60,18.36,18.03,18.38
2025-07-01,19.13,19.12,18.03,17.79,18.31,18.56,18.42,18.43,18.50,18.58,18.27,18.87,18.34,19.04,18.60,18.03,18.35
2025-08-01,18.39,18.38,18.39,17.91,18.22,17.76,17.97,17.97,18.32,18.84,17.28,19.16,17.88,18.58,18.19,17.69,18.12

In [21]:
df_compact.loc["Sachsen", "Values"]

array([-6.22, -0.92,  1.79, ..., 18.41, 18.34, 17.88])

In [22]:
# From compact to long representation
# Preparing the index
indices = [pd.date_range(start=df_compact.loc[i, "Start"],
                         periods=df_compact.loc[i, "n_Elements"],
                         freq=df_compact.loc[i, "Frequency"]) for i in df_compact.index]

# Creating the columns
df_list = [pd.DataFrame(df_compact.loc[item, "Values"],
                                       index=indices[order],
                                       columns=["Value"])
                                  .assign(Region=df_compact.index[order]) for order, item in enumerate(df_compact.index)]

# Conacatenating the columns
df_long_from_compact = pd.concat(df_list)

# Rearrange columns
df_long_from_compact = df_long_from_compact[["Region", "Value"]]
                                            

print(df_long_from_compact.info())
df_long_from_compact

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 29512 entries, 1881-01-01 to 2025-08-01
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Region  29512 non-null  object
 1   Value   29512 non-null  float64
dtypes: float64(1), object(1)
memory usage: 691.7+ KB
None

                        Region  Value
1881-01-01  Brandenburg/Berlin  -5.54
1881-02-01  Brandenburg/Berlin  -1.00
1881-03-01  Brandenburg/Berlin   1.71
1881-04-01  Brandenburg/Berlin   5.56
1881-05-01  Brandenburg/Berlin  12.85
...                        ...    ...
2025-04-01         Deutschland  10.50
2025-05-01         Deutschland  12.80
2025-06-01         Deutschland  18.38
2025-07-01         Deutschland  18.35
2025-08-01         Deutschland  18.12

[29512 rows x 2 columns]

In [23]:
# Resample to year values taking the average of the days in each month
quarter_df = df.resample("QS").mean()
quarter_df

,Brandenburg/Berlin,Brandenburg,Baden-Wuerttemberg,Bayern,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Niedersachsen/Hamburg/Bremen,Nordrhein-Westfalen,Rheinland-Pfalz,Schleswig-Holstein,Saarland,Sachsen,Sachsen-Anhalt,Thueringen/Sachsen-Anhalt,Thueringen,Deutschland
Datum,,,,,,,,,,,,,,,,,
1881-01-01,-1.610000,-1.623333,0.286667,-1.580000,-0.500000,-2.226667,-0.800000,-0.810000,0.413333,0.483333,-1.776667,1.156667,-1.783333,-1.370000,-1.480000,-1.623333,-0.950000
1881-04-01,11.380000,11.363333,11.123333,10.216667,11.110000,10.430000,10.856667,10.856667,11.453333,11.486667,10.326667,11.763333,10.140000,11.180000,10.720000,10.140000,10.813333
1881-07-01,16.120000,16.100000,15.830000,15.243333,15.516667,15.226667,15.460000,15.460000,15.793333,15.766667,15.110000,15.980000,15.203333,15.853333,15.416667,14.866667,15.520000
1881-10-01,4.323333,4.303333,3.393333,2.573333,3.830000,4.390000,4.653333,4.656667,4.886667,4.130000,4.823333,4.220000,3.296667,4.186667,3.783333,3.273333,3.860000
1882-01-01,3.310000,3.296667,1.983333,0.980000,2.403333,3.056667,3.763333,3.763333,3.726667,2.586667,3.553333,3.013333,2.663333,3.323333,2.880000,2.323333,2.636667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-01,19.016667,19.003333,17.906667,17.816667,17.936667,17.950000,17.756667,17.760000,17.853333,18.046667,17.150000,18.176667,18.616667,18.826667,18.426667,17.900000,18.030000
2024-10-01,6.703333,6.696667,5.866667,5.143333,6.186667,7.063333,7.316667,7.320000,7.280000,6.526667,7.466667,6.763333,5.900000,6.826667,6.356667,5.743333,6.390000
2025-01-01,3.163333,3.146667,3.183333,2.323333,3.273333,3.093333,3.630000,3.633333,4.130000,3.843333,3.420000,4.206667,2.776667,3.220000,2.926667,2.546667,3.170000
2025-04-01,14.313333,14.293333,14.180000,13.760000,14.060000,13.196667,13.720000,13.716667,14.300000,14.616667,12.816667,15.013333,13.616667,14.236667,13.853333,13.350000,13.893333
2025-07-01,18.760000,18.750000,18.210000,17.850000,18.265000,18.160000,18.195000,18.200000,18.410000,18.710000,17.775000,19.015000,18.110000,18.810000,18.395000,17.860000,18.235000

In [24]:
# Resample to year values taking the average of the days in each month
year_df = df.resample("YS").mean()
year_df

,Brandenburg/Berlin,Brandenburg,Baden-Wuerttemberg,Bayern,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Niedersachsen/Hamburg/Bremen,Nordrhein-Westfalen,Rheinland-Pfalz,Schleswig-Holstein,Saarland,Sachsen,Sachsen-Anhalt,Thueringen/Sachsen-Anhalt,Thueringen,Deutschland
Datum,,,,,,,,,,,,,,,,,
1881-01-01,7.553333,7.535833,7.658333,6.613333,7.489167,6.955000,7.542500,7.540833,8.136667,7.966667,7.120833,8.280000,6.714167,7.462500,7.110000,6.664167,7.310833
1882-01-01,8.986667,8.972500,8.079167,7.328333,8.246667,8.540000,8.875000,8.878333,9.030000,8.551667,8.782500,8.785833,8.116667,8.812500,8.352500,7.772500,8.339167
1883-01-01,8.420833,8.408333,7.767500,6.847500,7.959167,7.948333,8.385833,8.388333,8.705833,8.261667,8.177500,8.510000,7.457500,8.315000,7.867500,7.305833,7.883333
1884-01-01,9.108333,9.095833,8.435833,7.523333,8.580000,8.727500,9.094167,9.097500,9.385833,8.936667,8.861667,9.177500,8.206667,8.936667,8.472500,7.885833,8.565000
1885-01-01,8.398333,8.388333,7.821667,7.043333,7.657500,7.680000,7.937500,7.936667,8.307500,8.006667,7.620833,8.296667,7.727500,8.074167,7.666667,7.155000,7.743333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-01,9.672500,9.656667,8.832500,8.312500,8.977500,9.445833,9.690000,9.692500,9.787500,9.448333,9.497500,9.720000,8.860833,9.633333,9.121667,8.450833,9.155833
2022-01-01,10.760000,10.745833,10.590833,9.901667,10.645000,10.214167,10.782500,10.782500,11.207500,11.178333,10.248333,11.519167,10.174167,10.842500,10.466667,9.970833,10.522500
2023-01-01,10.892500,10.880833,10.692500,10.060833,10.670833,10.316667,10.888333,10.889167,11.229167,11.115833,10.294167,11.380000,10.442500,11.019167,10.630000,10.125000,10.628333
2024-01-01,11.536667,11.525833,10.560833,10.266667,10.737500,10.961667,11.260833,11.261667,11.317500,10.940000,10.772500,11.085833,10.947500,11.475000,11.031667,10.452500,10.891667
2025-01-01,11.243750,11.227500,11.063750,10.493750,11.066250,10.648750,11.055000,11.056250,11.513750,11.600000,10.532500,11.961250,10.675000,11.248750,10.891250,10.426250,10.957500

In [25]:
hourly_df = df.resample("h").asfreq()
hourly_df

,Brandenburg/Berlin,Brandenburg,Baden-Wuerttemberg,Bayern,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Niedersachsen/Hamburg/Bremen,Nordrhein-Westfalen,Rheinland-Pfalz,Schleswig-Holstein,Saarland,Sachsen,Sachsen-Anhalt,Thueringen/Sachsen-Anhalt,Thueringen,Deutschland
Datum,,,,,,,,,,,,,,,,,
1881-01-01 00:00:00,-5.54,-5.56,-4.89,-6.51,-5.68,-5.07,-4.55,-4.55,-4.21,-4.49,-4.06,-4.15,-6.22,-5.89,-6.28,-6.76,-5.36
1881-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1881-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1881-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1881-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-07-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-07-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-07-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-07-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-08-01 00:00:00,18.39,18.38,18.39,17.91,18.22,17.76,17.97,17.97,18.32,18.84,17.28,19.16,17.88,18.58,18.19,17.69,18.12

In [26]:
last_10y_df = df['2015':'2025']
last_10y_df

,Brandenburg/Berlin,Brandenburg,Baden-Wuerttemberg,Bayern,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Niedersachsen/Hamburg/Bremen,Nordrhein-Westfalen,Rheinland-Pfalz,Schleswig-Holstein,Saarland,Sachsen,Sachsen-Anhalt,Thueringen/Sachsen-Anhalt,Thueringen,Deutschland
Datum,,,,,,,,,,,,,,,,,
2015-01-01,2.80,2.79,1.69,1.08,1.85,2.75,3.03,3.04,2.86,1.89,2.98,1.85,2.09,2.82,2.31,1.65,2.19
2015-02-01,1.42,1.41,-0.66,-1.25,0.81,1.51,2.15,2.16,2.05,1.02,2.09,1.10,0.70,1.39,0.86,0.16,0.72
2015-03-01,5.60,5.59,5.17,4.59,4.97,5.25,5.61,5.61,5.54,5.37,5.36,5.74,4.95,5.51,5.02,4.39,5.18
2015-04-01,8.67,8.65,8.83,8.11,8.65,8.04,8.25,8.25,8.77,9.39,7.74,9.80,7.93,8.62,8.29,7.86,8.42
2015-05-01,12.72,12.70,13.09,12.66,12.49,11.31,11.66,11.65,12.28,12.91,10.72,13.12,12.62,12.62,12.42,12.16,12.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-04-01,11.29,11.27,10.18,10.18,10.55,10.30,10.57,10.57,11.00,10.88,9.71,11.19,10.34,10.97,10.49,9.87,10.50
2025-05-01,12.93,12.91,12.95,12.24,13.12,12.21,13.06,13.06,13.57,13.77,12.38,14.13,12.10,13.14,12.71,12.15,12.80
2025-06-01,18.72,18.70,19.41,18.86,18.51,17.08,17.53,17.52,18.33,19.20,16.36,19.72,18.41,18.60,18.36,18.03,18.38
2025-07-01,19.13,19.12,18.03,17.79,18.31,18.56,18.42,18.43,18.50,18.58,18.27,18.87,18.34,19.04,18.60,18.03,18.35
2025-08-01,18.39,18.38,18.39,17.91,18.22,17.76,17.97,17.97,18.32,18.84,17.28,19.16,17.88,18.58,18.19,17.69,18.12

In [27]:
rw_3m_df = df.rolling(window=3, min_periods=1).mean()
rw_3m_df

,Brandenburg/Berlin,Brandenburg,Baden-Wuerttemberg,Bayern,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Niedersachsen/Hamburg/Bremen,Nordrhein-Westfalen,Rheinland-Pfalz,Schleswig-Holstein,Saarland,Sachsen,Sachsen-Anhalt,Thueringen/Sachsen-Anhalt,Thueringen,Deutschland
Datum,,,,,,,,,,,,,,,,,
1881-01-01,-5.540000,-5.560000,-4.890000,-6.510000,-5.680000,-5.070000,-4.550000,-4.550000,-4.210000,-4.490000,-4.060000,-4.150000,-6.220000,-5.890000,-6.280000,-6.760000,-5.360000
1881-02-01,-3.270000,-3.285000,-1.780000,-3.620000,-2.465000,-3.540000,-2.300000,-2.310000,-1.285000,-1.520000,-2.935000,-0.950000,-3.570000,-3.155000,-3.310000,-3.505000,-2.730000
1881-03-01,-1.610000,-1.623333,0.286667,-1.580000,-0.500000,-2.226667,-0.800000,-0.810000,0.413333,0.483333,-1.776667,1.156667,-1.783333,-1.370000,-1.480000,-1.623333,-0.950000
1881-04-01,2.090000,2.080000,4.126667,2.260000,3.353333,1.006667,2.596667,2.586667,3.963333,4.196667,1.250000,4.900000,1.760000,2.430000,2.293333,2.106667,2.686667
1881-05-01,6.706667,6.693333,7.496667,6.166667,7.153333,5.536667,6.623333,6.620000,7.600000,7.796667,5.573333,8.276667,5.896667,6.760000,6.423333,5.990000,6.656667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-04-01,6.093333,6.073333,5.996667,5.440000,6.136667,5.780000,6.330000,6.333333,6.970000,6.736667,5.783333,7.103333,5.440000,6.060000,5.686667,5.206667,6.006667
2025-05-01,10.080000,10.060000,9.720000,9.300000,9.990000,9.390000,9.970000,9.970000,10.510000,10.576667,9.246667,10.926667,9.340000,10.063333,9.663333,9.143333,9.780000
2025-06-01,14.313333,14.293333,14.180000,13.760000,14.060000,13.196667,13.720000,13.716667,14.300000,14.616667,12.816667,15.013333,13.616667,14.236667,13.853333,13.350000,13.893333
2025-07-01,16.926667,16.910000,16.796667,16.296667,16.646667,15.950000,16.336667,16.336667,16.800000,17.183333,15.670000,17.573333,16.283333,16.926667,16.556667,16.070000,16.510000
2025-08-01,18.746667,18.733333,18.610000,18.186667,18.346667,17.800000,17.973333,17.973333,18.383333,18.873333,17.303333,19.250000,18.210000,18.740000,18.383333,17.916667,18.283333